.container{
    max-width: 500px;
    margin: 0 auto;
    min-height: 98vh;
    position: absolute;
    left:0;
    right: 0;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    border: 4px solid whitesmoke;
}

header button{
    font-size: 40px;
    font-weight: bold;
    border: none;
    color: #000;
    border-radius: 10px;
}
main{
    width: 100%;
    height: 60vh;
    margin-top: 10%;
}

main h1{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    text-indent: 1em;
}

main div.info{
    width: 100%;
    height: 300px;
    margin-top: 40px;
}
main div.userImg{
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
//background-color: #fff;
}
main div.userImg img{
    display: block;
    width: 80px;
    height: 80px;
    border: 2px solid #fff;
    margin: 0 auto;
}

main div.line{
    width: 100%;
    height: 50px;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid #999;
}
main div.line .left{
    float: left;
    line-height: 50px;
    height: 50px;
    padding-left: 20px;
    font-size: 18px;
}
main div.line input{
    display: block;
    float: right;
    width: 80%;
    line-height: 50px;
    height: 40px;
    margin-top: 2px;
    outline: none;
    font-size: 18px;
    border: none;
    background-color: transparent;
}

main div.switch{
    width: 100%;
    height: 30px;
//background-color: #fff;
}
main div.switch button{
    color: #667498;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

main div.login{
    width: 100%;
    height: 80px;
    margin-top: 100px;
//background-color: #fff;
}
main div.login button{
    display: block;
    width: 80%;
    height: 48px;
    background-color: #07c160;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
}

main div.login button:disabled{
    background-color: #7ad7a6;
}

footer{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
//background-color: #fff;
}
footer div.box{
    width: 200px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    color: #6c799b;
}
footer div.box div.left{
    width: 100px;
    float: left;
    border-right: 1px solid #959595;
    box-sizing: border-box;
    cursor: pointer;
}
footer div.box div.right{
    width: 100px;
    float: right;
    border-left: 1px solid #959595;
    box-sizing: border-box;
    cursor: pointer;
}