/*.container{*/
/*    max-width: 460px;*/
/*    margin: 0 auto;*/
/*    min-height: 98vh;*/
/*    position: absolute;*/
/*    left:0;*/
/*    right: 0;*/
/*    background-color: #ededed;*/
/*}*/

/*header button{*/
/*    font-size: 20px;*/
/*    border: none;*/
/*    color: #57be6a;*/
/*}*/
/*main{*/
/*    width: 100%;*/
/*    height: 60vh;*/
/*    margin-top: 100px;*/
/*//background-color: gray;*/
/*}*/

/*main h1{*/
/*    font-size: 24px;*/
/*    font-weight: 500;*/
/*    margin-top: 10px;*/
/*    text-align: center;*/
/*}*/

/*main div.info{*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    margin-top: 80px;*/
/*}*/
/*main div.userImg{*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    margin-bottom: 30px;*/
/*}*/
/*main div.userImg img{*/
/*    display: block;*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    margin: 0 auto;*/
/*    cursor: pointer;*/
/*}*/

/*main div.line{*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    border: none;*/
/*    margin-top: 20px;*/
/*    border-bottom: 1px solid #999;*/
/*}*/
/*main div.line .left{*/
/*    float: left;*/
/*    line-height: 50px;*/
/*    height: 50px;*/
/*    padding-left: 20px;*/
/*    font-size: 18px;*/
/*}*/
/*main div.line input{*/
/*    display: block;*/
/*    float: right;*/
/*    width: 80%;*/
/*    line-height: 50px;*/
/*    height: 40px;*/
/*    margin-top: 5px;*/
/*    outline: none;*/
/*    font-size: 18px;*/
/*    border: none;*/
/*    background-color: transparent;*/
/*}*/

/*main div.line.VerificationCode input{*/
/*    width: 50%;*/
/*    float: left;*/
/*    margin-left: 40px;*/
/*}*/
/*main div.line.VerificationCode button{*/
/*    display: block;*/
/*    float: right;*/
/*    margin-right: 10px;*/
/*    height: 40px;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    background-color: #07c160;*/
/*    color: #fff;padding: 0 10px;*/
/*}*/

/*main div.tips{*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    color: #000;*/
/*    margin-top: 10px;*/
/*}*/
/*main div.tips input{*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    margin-left: 20px;*/
/*}*/
/*main div.tips a{*/
/*    color: #667498;*/
/*    cursor: pointer;*/
/*}*/

/*main div.register{*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    margin-top: 100px;*/
/*//background-color: #fff;*/
/*}*/
/*main div.register button{*/
/*    display: block;*/
/*    width: 80%;*/
/*    height: 48px;*/
/*    background-color: #07c160;*/
/*    border-radius: 5px;*/
/*    border: none;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    font-size: 20px;*/
/*    margin: 0 auto;*/
/*    cursor: pointer;*/
/*}*/
/*main div.register button:hover{*/
/*    background-color: #07c160;*/
/*}*/

/*footer{*/
/*    width: 100%;*/
/*    height: 40px;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*//background-color: #fff;*/
/*}*/
/*footer div.box{*/
/*    width: 200px;*/
/*    height: 30px;*/
/*    margin: 0 auto;*/
/*    line-height: 30px;*/
/*    text-align: center;*/
/*    color: #6c799b;*/
/*}*/
/*footer div.box div.left{*/
/*    width: 100px;*/
/*    float: left;*/
/*    border-right: 1px solid #959595;*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/
/*}*/
/*footer div.box div.right{*/
/*    width: 100px;*/
/*    float: right;*/
/*    border-left: 1px solid #959595;*/
/*    box-sizing: border-box;*/
/*    cursor: pointer;*/
/*}*/